.modal-container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(36, 34, 34, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 50vw;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin: 20px;
}

.task-name {
    // width: 50%;
    margin: 20px;
}

.date-picker {
    // width: 50%;
    margin: 20px;
}